.mod_wow_guild_rank {
    position: relative;
    text-align: center;
    width: 200px;
    height: 220px;
    margin: 0 auto;
}

.mod_wow_guild_rank * {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

.mod_wow_guild_rank .image {
    height: 200px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.mod_wow_guild_rank .rank {
    height: 100%;
    line-height: 155px;
    font-weight: bold;
}

.mod_wow_guild_rank .display {
    bottom: 27px;
    text-shadow: 1px 1px #000;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.mod_wow_guild_rank .source {
    display: block;
    bottom: 0;
}

.mod_wow_guild_rank.white .image {
    background-image: url('./images/rank_white.png');
}

.mod_wow_guild_rank.gold .image {
    background-image: url('./images/rank_gold.png');
}

.mod_wow_guild_rank.silver .image {
    background-image: url('./images/rank_silver.png');
}

.mod_wow_guild_rank.bronze .image {
    background-image: url('./images/rank_bronze.png');
}

.mod_wow_guild_rank .rank.size9 {
    font-size: 120px;
}

.mod_wow_guild_rank .rank.size99 {
    font-size: 80px;
}

.mod_wow_guild_rank .rank.size999 {
    font-size: 50px;
}

.mod_wow_guild_rank .white .rank {
    color: #fff;
    text-shadow: 1px 1px #868789;
}

.mod_wow_guild_rank.gold .rank {
    color: #F8B32C;
}

.mod_wow_guild_rank.silver .rank {
    color: #B5B7B5;
}

.mod_wow_guild_rank.bronze .rank {
    color: #AE6848;
}